{% extends "base.html" %}

{% block body %}
    Please use the following links: <br />
    Click <a href="/personal">here</a> to view a page about me. <br />
    Click <a href="/cv">here</a> to view a page about me. <br />
    Click <a href="/technologies">here</a> to read about my favourite computing technologies. <br />
    Click <a href="/interests">here</a> to read about my interests outside of my course. <br />
    Click <a href="/showform">here</a> to leave a short message. <br />
    Click <a href="/messageboard">here</a> to view recent messages. <br />
{% endblock %}
